@{
	ViewBag.Title = "APIs";
}

<section class="jumbotron">
	<h1>APIs</h1>
	<p class="lead">Most of these suck, but this should save you some time.</p>
</section>

<section class="row">
	<div class="col-md-12">
		<h2>What are the popular APIs for social?</h2>
		<p>Social - so-cial [soh-shuh l] - pertaining to, devoted to, or characterized by friendly companionship or relations: a social club.</p>
		<p>In my experience, none of the following APIs can be described as "friendly companionships", Flickr is passable, the rest are not.</p>
		<ul>
			<li><a href="https://developers.facebook.com/">Facebook</a></li>
			<li><a href="https://developers.google.com/youtube/">YouTube</a></li>
			<li><a href="https://dev.twitter.com/">Twitter</a></li>
			<li><a href="http://instagram.com/developer/">Instagram</a></li>
			<li><a href="https://www.flickr.com/services/api/">Flickr</a></li>
			<li><a href="http://developer.linkedin.com/apis">LinkedIn</a></li>
			<li><a href="https://developers.google.com/+/api/">Google+</a></li>
		</ul>
		<p>The issue comes down to time. If you have never worked with an API before and have nearly zero experience with HTTP then potentially
			some of these APIs make sense. The problem is we as developers very rarely have time to leisurely read what could make for a book
			for each and every social network. We know what we want and what we need, just give it to us so we can get to work.</p>
	</div>
</section>