@{
	ViewBag.Title = "Overview";
}

<section class="jumbotron">
	<h1>Overview</h1>
	<p class="lead">The pros and cons of a Social Stream and why it's needed.</p>
</section>

<section class="row">
	<div class="col-md-6">
		<h2>Pros</h2>
		<ul>
			<li>One solution for working with multiple social networks.</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="col-md-6">
		<h2>Cons</h2>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</section>