@{
	ViewBag.Title = "Postman";
}

<section class="jumbotron">
	<h1>Postman</h1>
	<p class="lead">The best solution to working with RESTful APIs.</p>
</section>

<section class="row">
	<div class="col-md-12">
		<h2>What is Postman?</h2>
		<p>
			Postman is a RESTful application that runs either as a Google Chrome Extension or Packaged Application. It allows
			users to create a collection of RESTful calls each with their own headers and parameters. It's best used when working
			with a RESTful API.
		</p>
	</div>
</section>
<div class="row">
	<div class="col-md-12">
		<h2>Why is Postman so awesome?</h2>
		<p>
			It provides a clean, simple user interface that lets you get to work on writing calls and formats the response in a
			readable manner. It's also free and available in the <a href="https://chrome.google.com/webstore/search/Postman?hl=en">Google Chrome Web Store</a>.</p>
	</div>
</div>